certifi==2025.1.31
charset-normalizer==3.4.1
dnspython==2.7.0
greenlet==3.1.1
icalendar==6.1.1
idna==3.10
playwright==1.50.0
pyee==12.1.1
pymongo==4.11.2
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
